%h1= @account.name
%p= @account.description
%p= @account.account_number
%p= number_to_currency(@account.credit_limit)

%button= link_to "Edit", edit_account_path(@account), class: "button"
%button= link_to "Delete", account_path(@account), method: :delete, data: { confirm: "Are you sure?" }, class: "button"
%button= link_to "Create Transaction", new_account_transaction_path(@account), class: "button"
%button= link_to "View Transactions", account_transactions_path(@account), class: "button"